<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Consulta de Clientes</h1>
</div>

<!-- Exibindo mensagens -->
<div *ngIf="mensagemSucesso" class="w-50 p-2 alert alert-success alert-dismissible fade show" role="alert">
    Cliente <strong>{{cliente.nome}}</strong> excluído com sucesso.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div *ngIf="mensagemErro" class="w-50 p-2 alert alert-danger mt-2 alert-dismissible fade show" role="alert">
    <strong></strong> {{mensagemErro}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<!-- Página -->
<div class="row">
    <div class="col-xl-12 col-md-12 mb-12">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="pesquisa" placeholder="Pesquisar Clientes">
                        </div>
                    </div>
                </div>

                <table class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Telefone</th>
                            <th></th>
                            <th>Operações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let item of clientes | filter: pesquisa | paginate : { itemsPerPage : 5, currentPage : page }">
                            <td>{{item.nome}}</td>
                            <td>{{item.telefone}}</td>
                            <td>
                                <button class="btn btn-success btn-sm" (click)="buscarId(item.idCliente)"
                                    data-target="#janela_detalhes" data-toggle="modal">detalhes
                                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-danger btn-sm" (click)="buscarId(item.idCliente)"
                                    data-target="#janela_exclusao" data-toggle="modal">
                                    <i class="fa fa-trash"></i>
                                </button>
                                &nbsp;
                                <button class="btn btn-primary btn-sm" (click)="buscarId(item.idCliente)"
                                    data-target="#janela_edicao" data-toggle="modal">
                                    <i class="fa fa-edit"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <tfoot>
                    <tr>
                        <td colspan="3">
                            Total de clientes: {{clientes.length}}
                        </td>
                    </tr>
                </tfoot>

                <pagination-controls (pageChange)="handlePageChange($event)" previousLabel="Anterior"
                    nextLabel="Próximo">
                </pagination-controls>

                <!--Botão de navegação para retornar à tela home -->
                <div class="align-items-center">
                    <button type="button" [routerLink]="['']" class="btn btn-link">voltar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Janela modal para exclusão de clientes -->
<div id="janela_exclusao" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excluir Cliente</h5>
            </div>
            <div class="modal-body">

                <!-- Exibindo os dados do cliente -->
                <p>Deseja realmente excluir o cliente selecionado?</p>
                Nome do cliente: <strong>{{cliente.nome}}</strong>
                <br />
                CPF: <strong>{{cliente.cpf}}</strong>
                <br />
                Email: <strong>{{cliente.email}}</strong>
            </div>

            <!-- Botões -->
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger " data-dismiss="modal" (click)="excluir(cliente.idCliente)"> 
                    <i class="fa fa-trash"></i>  Confirmar Exclusão
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Janela modal para atualizar cliente -->
<div id="janela_edicao" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Atualizar Cliente</h5>
            </div>
            <div class="modal-body">

                <form [formGroup]="formEdicao" (ngSubmit)="atualizar()">

                    <!-- Campo Oculto (idCliente)-->
                    <input type="hidden" formControlName="idCliente" [(ngModel)]="cliente.idCliente"/>

                    <!-- Campo Oculto (idEndereco)-->
                    <input type="hidden" formControlName="idEndereco" [(ngModel)]="cliente.endereco.idEndereco"/>

                    <!-- exibindo o CPF no formulário-->
                    <div> 
                        CPF: <strong>{{cliente.cpf}}</strong>
                        <div class="text-danger"> 
                            <i>* o cpf do cliente não pode ser alterado.</i> 
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <!--capturando o campo nome do formulário-->
                        <div class="col-md-5">
                            <label>Nome:</label>
                            <input type="text" class="form-control" formControlName="nome" [(ngModel)]="cliente.nome" maxlength="50"/>
                            <!-- exibindo mensagens de validação-->
                            <span *ngIf="form.nome.touched && form.nome.invalid">
                                <span *ngIf="form.nome.errors.required" class="text-danger">
                                    <i class="fa fa-exclamation-circle"></i> Campo obrigatório.
                                </span>
                                <span *ngIf="form.nome.errors.pattern" class="text-danger">
                                    <i class="fa fa-exclamation-circle"></i> Você deve informar nome e sobrenome.
                                </span>
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <!--capturando o campo email do formulário-->
                        <div class="col-md-3">
                            <label>Telefone:</label>
                            <input type="text" class="form-control" formControlName="telefone" [(ngModel)]="cliente.telefone" minlength="8" maxlength="11" placeholder="999999999 / xx999999999"/>
                            <!-- exibindo mensagens de validação-->
                            <span *ngIf="form.telefone.touched && form.telefone.invalid">
                                <span *ngIf="form.telefone.errors.required" class="text-danger">
                                    <i class="fa fa-exclamation-circle"></i> Campo obrigatório.
                                </span>
                                <span *ngIf="form.telefone.errors.pattern" class="text-danger">
                                    <i class="fa fa-exclamation-circle"></i>  O telefone deve conter entre 8 e 11 caracteres sem espaços e com o DDD
                                </span>
                            </span>
                        </div>

                        <!--capturando o campo email do formulário-->
                        <div class="col-md-5">
                            <label>Email:</label>
                            <input type="text" class="form-control" formControlName="email" [(ngModel)]="cliente.email" maxlength="40"/>
                            <!-- exibindo mensagens de validação-->
                            <span *ngIf="form.email.touched && form.email.invalid">
                                <span *ngIf="form.email.errors.pattern" class="text-danger">
                                    <i class="fa fa-exclamation-circle"></i> Email inválido.
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <!--capturando o campo logradouro do formulário-->
                        <div class="col-md-6">
                            <label>Logradouro:</label>
                            <input type="text" class="form-control" formControlName="logradouro" [(ngModel)]="cliente.endereco.logradouro" maxlength="60"/>
                            <!-- exibindo mensagens de validação-->
                            <span *ngIf="form.logradouro.touched && form.logradouro.invalid">
                                <span *ngIf="form.logradouro.errors.required" class="text-danger">
                                    <i class="fa fa-exclamation-circle"></i> Campo obrigatório.
                                </span>
                                <span *ngIf="form.logradouro.errors.pattern" class="text-danger">
                                    <i class="fa fa-exclamation-circle"></i> Você deve informar o logradouro(Ex Rua...,
                                    Av...).
                                </span>
                            </span>
                        </div>

                        <!--capturando o campo número do formulário-->
                        <div class="col-md-2">
                            <label>Número:</label>
                            <input type="text" class="form-control" formControlName="numero" [(ngModel)]="cliente.endereco.numero" maxlength="6"/>
                            <!-- exibindo mensagens de validação-->
                            <span *ngIf="form.numero.touched && form.numero.invalid">
                                <span *ngIf="form.numero.errors.required" class="text-danger">
                                    <i class="fa fa-exclamation-circle"></i> Campo obrigatório.
                                </span>
                                <span *ngIf="form.numero.errors.pattern" class="text-danger">
                                    <i class="fa fa-exclamation-circle"></i> apenas caracteres numéricos
                                </span>
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <!--capturando o campo complemento do formulário-->
                        <div class="col-md-5">
                            <label>Complemento:</label>
                            <input type="text" class="form-control" formControlName="complemento" [(ngModel)]="cliente.endereco.complemento" maxlength="70"/>
                        </div>

                        <!--capturando o campo bairro do formulário-->
                        <div class="col-md-3">
                            <label>Bairro:</label>
                            <input type="text" class="form-control" formControlName="bairro" [(ngModel)]="cliente.endereco.bairro" maxlength="60"/>
                            <span *ngIf="form.bairro.touched && form.bairro.invalid">
                                <span *ngIf="form.bairro.errors.required" class="text-danger">
                                    <i class="fa fa-exclamation-circle"></i> Campo obrigatório.
                                </span>
                                <span *ngIf="form.bairro.errors.pattern" class="text-danger">
                                    <i class="fa fa-exclamation-circle"></i> Você deve informar o bairro
                                </span>
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <!--capturando o campo Município do formulário-->
                        <div class="col-md-6">
                            <label>Município:</label>
                            <input type="text" class="form-control" formControlName="municipio" [(ngModel)]="cliente.endereco.municipio" maxlength="60"/>
                        </div>

                        <!--capturando o campo Estado do formulário-->
                        <div class="col-md-2">
                            <label>Estado(UF):</label>
                            <select class="form-control" formControlName="estado" [(ngModel)]="cliente.endereco.estado">
                                <option value="">Selecione o Estado</option>
                                <option *ngFor="let item of estados" value="{{item}}">
                                    {{item | uppercase}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <!--capturando o campo cep do formulário-->
                    <div class="row">
                        <div class="col-md-5">
                            <label>Cep:</label>
                            <input type="text" class="form-control" formControlName="cep" [(ngModel)]="cliente.endereco.cep" minlength="8" maxlength="8" placeholder="99999999"/>
                            <span *ngIf="form.cep.touched && form.cep.invalid">
                                <span *ngIf="form.cep.errors.pattern" class="text-danger">
                                    <i class="fa fa-exclamation-circle"></i> apenas caracteres numéricos, sem espaços ou traços.
                                </span>
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <label for="observacao">Observação:</label>
                            <textarea class="form-control" formControlName="observacao" [(ngModel)]="cliente.observacao" id="observacao:" 
                                cols="" rows="3" maxlength="255">
                            </textarea>
                            <br>
                        </div>
                    </div>

                    <!--Botão submit chama a função atualizar() passando o conteúdo do formEdicao -->
                    <div class="text-right">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Fechar</button>
                        &nbsp;
                        <input [disabled]="!formEdicao.valid" type="submit" class="btn btn-success" value="Atualizar Cliente" /> 
                    </div>

                    <div *ngIf="mensagemSucessoEdicao" class="alert alert-success">
                        Cliente <strong>{{cliente.nome}}</strong> atualizado com sucesso.
                    </div>
                    
                    <div *ngIf="mensagemErroEdicao" class="alert alert-danger">
                        <strong>Erro!</strong> {{mensagemErroEdicao}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Janela modal para detalhar cliente -->
<div id="janela_detalhes" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Dados completos do cliente</h5>
            </div>
            <div class="modal-body">

                <!-- Exibindo os dados do cliente -->
                <p><strong>Nome: </strong>{{cliente.nome}}</p>
                <p><strong>Cpf: </strong>{{cliente.cpf}}</p>
                <p><strong>Telefone: </strong>{{cliente.telefone}}</p>
                <p><strong>Email: </strong>{{cliente.email}}</p>
                <p><strong>Endereço: </strong>
                    {{cliente.endereco.logradouro}}, {{cliente.endereco.numero}},
                    {{cliente.endereco.complemento}}, {{cliente.endereco.bairro}},
                    {{cliente.endereco.municipio}}- {{cliente.endereco.estado}},
                    {{cliente.endereco.cep}}
                </p>
                <p><strong>Observação: </strong>{{cliente.observacao}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>